.footer {
	background-color: var(--baseBlue);
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright {
	font-family: var(--font-noto);
	font-size: 18px;
	color: var(--baseYellow);
	text-align: center;
}
