.main {
	padding-top: 16px;
}

.hero {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 52px;
	font-family: var(--font-oferta);
	color: var(--baseRed);
	padding: 32px 0;
	position: relative;
}

.subtitle {
	font-size: 36px;
	font-family: var(--font-oferta);
	color: var(--baseBlue);
	margin-top: 40px;
}

.image {
	min-width: 250px;
	max-width: 500px;
	width: 50%;
	object-fit: contain;
	height: auto;
	border: 5px solid var(--lighterBlue);
	border-radius: 12px;
}

.description {
	font-family: var(--font-oriya);
	font-size: 16px;
	line-height: 1.5;
	text-align: justify;
	max-width: 700px;
	color: var(--mainTextColor);
	margin: 40px 24px 0;
}

.artist {
	font-family: var(--font-oriya-bold);
}

.author {
	display: block;
	text-align: right;
	margin-left: auto;
	font-family: var(--font-oriya-bold);
}

.table {
	margin: 40px 24px 80px;
	font-family: var(--font-oriya);
	color: var(--baseBlue);
	width: 100%;
	max-width: 740px;
}

.cell {
	line-height: 24px;
	padding: 8px 0;
	max-width: 320px;
}

.cell:first-child {
	font-family: var(--font-oriya-bold);
	padding-right: 32px;
	padding-left: 24px;
}

.cell:last-child {
	padding-left: 32px;
	padding-right: 24px;
}

@media (max-width: 650px) {
	.cell:first-child {
		padding-right: 16px;
	}

	.cell:last-child {
		padding-left: 16px;
	}
}
