.header {
	background-color: transparent;
	padding: 28px 48px;
	font-family: var(--font-oferta);
	display: flex;
	position: sticky;
	top: 0;
	transition: background-color 0.3s ease-in-out;
	z-index: 10;
}

.isScrolling {
	background-color: var(--baseYellow);
}

.logoItem {
	position: absolute;
	top: 16px;
	left: 48px;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	font-size: 28px;
	color: var(--mainTextColor);
	transition: color 0.3s ease-in-out;
	font-family: var(--font-cabelelera);
}

.nav {
	display: flex;
	justify-content: center;
	width: 100%;
}

.navList {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	align-items: center;
	color: var(--mainTextColor);
	width: 60%;
	justify-content: space-evenly;
}

.navLink {
	position: relative;
	text-decoration: none;
	font-size: 28px;
	color: var(--mainTextColor);

	&::before {
		content: "";
		display: block;
		width: 0;
		height: 4px;
		background-color: var(--baseRed);
		transition: width 0.3s ease-in-out;
		position: absolute;
		bottom: 0;
	}
}

.navLink:hover {
	&::before {
		width: 100%;
	}
}

.navLink.isActive::before {
	width: 100%;
}

.logo:hover {
	color: var(--baseRed);
}
