.button {
  padding: 12px 16px;
  text-decoration: none;
}

.blue {
  background: transparent;
  border: 3px solid var(--baseBlue);
  color: var(--baseBlue);
  font-family: var(--font-bayon);
  font-size: 32px;
  line-height: 1;
  background-color: var(--baseYellow);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--baseBlue);
    color: var(--baseYellow);
  }
}